div.dayBoxes > div, .monthGoals {
  min-height: 100px;
  background-color: #f3f3f3;
  border: 1px solid black;
}

#daysOfWeek h3, .monthGoals > h2 {
  text-transform: uppercase;
}

.number {
  color: white;
  background-color: #464646;
  border-radius: 50%;
  float: right;
  display: block;
  width: 25px;
  height: 25px;
  text-align: center;
}

.otherMonth {
  background-color: #bebebe !important;
}